@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: ;
}



.contenedor{
    background-color: rgb(230, 249, 248);
    text-align: center;
    height: 100vh;
    display: flex;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
}

.productos{
    height: 50vh;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    border: 1px solid red;
    margin: 1em;
    width: 50em;
}

.card{
    width: 10em;
    height: 10em;
    background-color: rgb(210, 255, 240);
    border: 1px solid black;
    border-radius: 25px;
}

.configuraciones{
    margin: 1em;
    border: 1px solid greenyellow;
    width: 10em;
}